.post{
    display: flex;
    flex-direction: column;
    margin-top:18px;
    margin-left: 18px;
    background-color: rgba(143, 112, 93, 0.12);
    border: 1px solid #ccc;
    border-radius: 9px;

    width:300px;
    height: 400px;
}
.postTop {

    position: relative;
    width:300px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-img{
    object-fit: cover;
    width: 100%;
    height: 220px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;

}
.post-wrapper{

    display: flex;
    flex-direction: column;

}
.post-title{
     color:#6d5b53 ;
    font-weight: bold;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    margin-left: 10px;
    margin-top: 9px;
}
.post-icon{
    color:#6d5b53 ;
    margin-left: 3px;
    margin-right: 6px;
    margin-bottom: 6px;

    font-size: 16px;
    cursor: pointer;
}
.post-location{
    color:#6d5b53 ;

    font-size: 16px;
    font-family: "Poppins", sans-serif;


}
.post-bottom{

    margin-top: 9px;
    margin-left: 9px;
}
.post-date{

    margin-top:9px;
    color:#6d5b53 ;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
.post-bottom-right{
    display: flex;
    align-items: right;
    justify-content: flex-end;
    margin-right: 9px;
}

.details-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 4px;


    cursor: pointer;
}
.box {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent; /* Transparent background */
    padding: 4px 12px;
    border-radius: 5px;
}

.status-text {
    padding: 2px 10px;
    font-size: 20px;
    font-weight: bold;
}
.image-container {
    width: 100%;
    height: 220px;
    position: relative;
}

.profile-img {
    position: absolute;
    top: 5px; /* Adjust as needed */
    left: 5px; /* Adjust as needed */
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
